html {
   font-size: 16px;
}

body {
   text-align: center;
   background-color: rgb(249, 239, 239);
   font-family: Georgia, "Times New Roman", Times, serif;
}

header {
   color: black;

   background-image: url("https://images.unsplash.com/photo-1569437061233-5befcf96ee45?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3750&q=80");
   background-size: 100%;
   background-repeat: no-repeat;
   padding: 100px 100px;
   opacity: 0.75;
}

#logo {
   height: 30%;
   width: 30%;
   border: 1px groove black;
   opacity: 0.95;
   border-radius: 50%;
}

.name {
   margin: 15px;
}

footer {
   color: black;

   background-image: url("https://images.unsplash.com/photo-1569437061233-5befcf96ee45?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3750&q=80");
   background-size: 100%;
   background-repeat: no-repeat;
   padding: 50px 50px;
   opacity: 0.8;
   position: relative;
   bottom: 0;
}

.taxPDF {
   height: 50%;
   width: 50%;
}

#search {
   display: inline-block;
   align-content: center;
   max-width: 50%;
}

h4 {
   font-weight: bold;
}

img {
   margin-top: 20px;
   width: 25%;
   height: 25%;
   border-radius: 15px;
   border: 5px groove black;
}

h1 {
   color: black;
   font-weight: bold;
}

#orgDetails {
   border: 1px solid black;
}

#hiddenComment {
   display: none;
}

.noComment {
   list-style-type: none;
}

@keyframes wiggle {
   0% {
      transform: rotate(0deg);
   }
   10% {
      transform: rotate(0deg);
   }
   15% {
      transform: rotate(1.5deg);
   }
   20% {
      transform: rotate(-1.5deg);
   }
   35% {
      transform: rotate(0deg);
   }
}

.noResults {
   margin: 15px;
   font-size: 2rem;
   list-style-type: none;
   padding: 0.5rem;
   background: white;
   border: 1px rgb(249, 239, 239) solid;
   animation: wiggle 1s;
}

.liComment {
   text-align: justify;
   list-style-type: none;
   padding: 0.5rem;
   background: white;
   border: 1px rgb(249, 239, 239) solid;
   margin: 0.2rem;
   border-radius: 10px;
}

#organizationList {
   list-style-type: none;
}

.charityLi {
   /* margin: 0.8rem; */
   padding: 0.5rem;
   transition: 0.5s;
   border-radius: 15px;
}

.charityLi:hover {
   transform: translate(10px, -5px);
   text-shadow: -3px 2px 8px #1c6ea4;
}

.nameSpan {
   color: blue;
   cursor: pointer;
   font-size: 1.3rem;
}

.einSpan {
   color: cadetblue;
}

.nteeSpan {
   color: purple;
}
.container {
   margin-left: auto;
   margin-right: auto;
   width: 50em;
   text-align: left;
}
.star {
   font-size: 30px;
   color: #cfcfcf;
   display: inline-block;
}
.over {
   color: #f7c56a;
}
.fix {
   color: #ffa600;
}
.rating {
   margin: 30px 0;
   font-weight: bold;
}
